## Pandas

https://pandas.pydata.org/ 

Biblioteca para manipulação de dados estruturados ou tabulares, que oferece funcionalidade de indexação que permite o "slice and dice", agregações e seleção de subsets de dados.

É excelente para pré-processamento e análise de dados e tem como estruturas principais *series* e *dataframes*.

In [1]:
# imports necessários
import numpy as np
import pandas as pd

# Especialização em Ciência de Dados - PUC-Rio
## Machine Learning - Prof. Tatiana Escovedo
### Introdução a biblioteca Pandas

In [2]:
# importando dados uma url para um dataframe

# url a importar
url_dados = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

# labels dos atributos do dataset
atributos = ['comprimento_sepala', 'largura_sepala', 'comprimento_petala', 'largura_petala', 'especie']

# carga do dataset através da url - há diversos parâmetros no read_csv que podem ser interessantes, como sep, 
#usecols e header
iris = pd.read_csv(url_dados, names=atributos)

In [3]:
# verificando que iris é um dataframe
type(iris)

pandas.core.frame.DataFrame

In [4]:
# verificando os tipos de cada coluna do dataframe
iris.dtypes

comprimento_sepala    float64
largura_sepala        float64
comprimento_petala    float64
largura_petala        float64
especie                object
dtype: object

In [5]:
# exibindo as primeiras linhas
iris.head()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [6]:
# exibindo as últimas linhas
iris.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
# exibindo as primeiras 10 linhas
iris.head(10)

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

In [8]:
# exibindo os nomes das colunas
iris.columns

Index(['comprimento_sepala', 'largura_sepala', 'comprimento_petala',
       'largura_petala', 'especie'],
      dtype='object')

In [9]:
# exibindo as dimensões do dataset
iris.shape

(150, 5)

In [10]:
# exibindo a quantidade de linhas por coluna
iris.count()

comprimento_sepala    150
largura_sepala        150
comprimento_petala    150
largura_petala        150
especie               150
dtype: int64

In [11]:
# exibindo um sumário estatístico
iris.describe()

       comprimento_sepala  largura_sepala  comprimento_petala  largura_petala
count          150.000000      150.000000          150.000000      150.000000
mean             5.843333        3.054000            3.758667        1.198667
std              0.828066        0.433594            1.764420        0.763161
min              4.300000        2.000000            1.000000        0.100000
25%              5.100000        2.800000            1.600000        0.300000
50%              5.800000        3.000000            4.350000        1.300000
75%              6.400000        3.300000            5.100000        1.800000
max              7.900000        4.400000            6.900000        2.500000

In [12]:
# exibindo informações sobre colunas e uso de memória
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   comprimento_sepala  150 non-null    float64
 1   largura_sepala      150 non-null    float64
 2   comprimento_petala  150 non-null    float64
 3   largura_petala      150 non-null    float64
 4   especie             150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
# ordenando o dataframe por uma coluna
# obs: retorna apenas o resultado da query. Se quisermos alterar a ordenação do dataframe em si, 
#teríamos que fazer por exemplo iris = iris.sort_values(by='largura_sepala')
iris.sort_values(by='largura_sepala')

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
60,5.0,2.0,3.5,1.0,Iris-versicolor
62,6.0,2.2,4.0,1.0,Iris-versicolor
119,6.0,2.2,5.0,1.5,Iris-virginica
68,6.2,2.2,4.5,1.5,Iris-versicolor
41,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...
16,5.4,3.9,1.3,0.4,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa

In [15]:
# ordenando por uma coluna de ordem descendente
iris.sort_values(by='largura_sepala', ascending=False)

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
15,5.7,4.4,1.5,0.4,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
...,...,...,...,...,...
87,6.3,2.3,4.4,1.3,Iris-versicolor
62,6.0,2.2,4.0,1.0,Iris-versicolor
68,6.2,2.2,4.5,1.5,Iris-versicolor
119,6.0,2.2,5.0,1.5,Iris-virginica
60,5.0,2.0,3.5,1.0,Iris-versicolor

In [16]:
# selecionando uma coluna específica
iris['largura_sepala']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: largura_sepala, Length: 150, dtype: float64

In [17]:
# selecionando um subconjunto de linhas consecutivas
iris[7:11]

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa

In [18]:
# selecionando um subconjunto de colunas para todas as linhas
iris.loc[:, ['largura_sepala', 'largura_petala', 'especie']]

     largura_sepala  largura_petala         especie
0               3.5             0.2     Iris-setosa
1               3.0             0.2     Iris-setosa
2               3.2             0.2     Iris-setosa
3               3.1             0.2     Iris-setosa
4               3.6             0.2     Iris-setosa
..              ...             ...             ...
145             3.0             2.3  Iris-virginica
146             2.5             1.9  Iris-virginica
147             3.0             2.0  Iris-virginica
148             3.4             2.3  Iris-virginica
149             3.0             1.8  Iris-virginica

[150 rows x 3 columns]

In [19]:
# selecionando um subconjunto linhas e colunas
iris.loc[7:11, ['largura_sepala', 'largura_petala', 'especie']]

    largura_sepala  largura_petala      especie
7              3.4             0.2  Iris-setosa
8              2.9             0.2  Iris-setosa
9              3.1             0.1  Iris-setosa
10             3.7             0.2  Iris-setosa
11             3.4             0.2  Iris-setosa

In [20]:
# selecionando linhas segundo um critério
iris[iris['largura_sepala'] > 3.5]

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
44,5.1,3.8,1.9,0.4,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
109,7.2,3.6,6.1,2.5,Iris-virginica
117,7.7,3.8,6.7,2.2,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica

In [21]:
# criando um novo dataframe com iris + uma nova linha com um valor missing para o próximo exemplo
df = iris.append({'largura_sepala': 4.0, 
                  'comprimento_petala': 5.0, 
                  'largura_petala': 0.4, 
                  'especie': 'Iris-setosa'},
                  ignore_index=True)
df.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
150,NaN,4.0,5.0,0.4,Iris-setosa

In [22]:
# eliminando linhas que tenham ALGUM valor missing

df = df.dropna(how='any')
df.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
# criando (novamente) um novo dataframe com iris + uma nova linha com um valor missing para o próximo exemplo
df = iris.append({'largura_sepala': 4.0, 
                  'comprimento_petala': 5.0, 
                  'largura_petala': 0.4, 
                  'especie': 'Iris-setosa'},
                  ignore_index=True)
df.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
150,NaN,4.0,5.0,0.4,Iris-setosa

In [24]:
# adicionando uma nova linha com todos os valores missing para o próximo exemplo
df = df.append({}, ignore_index=True)
df.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
150,NaN,4.0,5.0,0.4,Iris-setosa
151,NaN,NaN,NaN,NaN,NaN

In [25]:
# eliminando linhas que tenham TODOS os valores missing
df = df.dropna(how='all')
df.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
150,NaN,4.0,5.0,0.4,Iris-setosa

In [26]:
# definindo valores para o preenchimento de missings
values = {'comprimento_sepala': iris['comprimento_sepala'].median(), 'largura_sepala': 4.0, 
          'comprimento_petala': 5.0, 'largura_petala': 0.4, 'especie': 'Iris-setosa'}
df = df.fillna(value=values)
df.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
150,5.8,4.0,5.0,0.4,Iris-setosa

In [27]:
# exibindo a média de cada atributo, agrupado por espécie
iris.groupby('especie').mean()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala
especie,,,,
Iris-setosa,5.006,3.418,1.464,0.244
Iris-versicolor,5.936,2.770,4.260,1.326
Iris-virginica,6.588,2.974,5.552,2.026

In [28]:
# se tivéssemos duas colunas categóricas, poderiamos fazer subgrupos...

df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo','foo', 'bar', 'foo', 'bar'],
                   'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three', 'one', 'two', 'one', 'three'],
                   'C': np.random.randn(12), # gera 12 números aleatórios
                   'D': np.random.randn(12)})
df

      A      B         C         D
0   foo    one -0.452524 -0.732645
1   bar    one -1.567315  1.285223
2   foo    two -0.007490  0.556602
3   bar  three -0.820872 -0.749287
4   foo    two  0.137078 -0.337886
5   bar    two  0.812051  1.356955
6   foo    one  0.291855 -2.973250
7   foo  three  0.105542 -0.358208
8   foo    one -2.914032 -1.806113
9   bar    two -1.374158 -0.898188
10  foo    one  0.452039 -2.308728
11  bar  three  0.706309  0.723438

In [29]:
# ... e exibir sua soma...
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -1.567315  1.285223
    three -0.114564 -0.025849
    two   -0.562107  0.458767
foo one   -2.622662 -7.820736
    three  0.105542 -0.358208
    two    0.129588  0.218715

In [30]:
# ... ou sua média/mediana
df.groupby(['A', 'B']).mean()
# df.groupby(['A', 'B']).median()

                  C         D
A   B
bar one   -1.567315  1.285223
    three -0.057282 -0.012924
    two   -0.281053  0.229384
foo one   -0.655665 -1.955184
    three  0.105542 -0.358208
    two    0.064794  0.109358

In [31]:
# adicionando uma nova coluna ao dataframe (não tenho ideia se essa métrica faz sentido!)
iris['razao'] = (iris['comprimento_petala'] * iris['comprimento_sepala'])

In [32]:
# exibindo o conteúdo da nova coluna
iris['razao'].head()

0    7.14
1    6.86
2    6.11
3    6.90
4    7.00
Name: razao, dtype: float64

In [33]:
# criando uma função para processamento de dados.
def categoriza_razao(razao):
    if razao >= 40:
        return 'Grande'
    elif razao >= 15:
        return 'Média'
    else:
        return 'Pequena'

In [34]:
# adicionando uma nova coluna ao dataframe a partir do processamento realizado com a função que criamos
iris['cat_razao'] = iris['razao'].apply(categoriza_razao)

In [35]:
# exibindo o conteúdo do dataframe com as novas colunas
iris.head()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie,razao,cat_razao
0,5.1,3.5,1.4,0.2,Iris-setosa,7.14,Pequena
1,4.9,3.0,1.4,0.2,Iris-setosa,6.86,Pequena
2,4.7,3.2,1.3,0.2,Iris-setosa,6.11,Pequena
3,4.6,3.1,1.5,0.2,Iris-setosa,6.90,Pequena
4,5.0,3.6,1.4,0.2,Iris-setosa,7.00,Pequena

In [36]:
# exibindo a distribuicao da nova coluna
pd.value_counts(iris['cat_razao'])

Média      87
Pequena    50
Grande     13
Name: cat_razao, dtype: int64

In [37]:
# excluindo colunas do dataframe
## OBS1: a opção axis=1 define que iremos excluir uma coluna (0 para linha - default)
## OBS2: inplace=True define que a alteração irá modificar o dataframe em memória, sem necessidade de reatribuí-lo a uma nova variável

iris.drop(['razao', 'cat_razao'], axis=1, inplace=True)

# para excluir apenas uma coluna, faríamos: iris.drop(['razao'], axis=1, inplace=True)

In [38]:
# exibindo o conteúdo do dataframe com a exclusão das colunas
iris.head()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

## 4 maneiras de trabalhar com datasets

OBS: Dependendo da forma de importar, o cabeçalho das colunas (nome das caractetísticas) pode ser diferente.

In [39]:
# 1) Importando dados de uma url para um dataframe

# imports necessários
import pandas as pd

# url a importar
url_dados = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

# labels dos atributos do dataset
atributos = ['comprimento_sepala', 'largura_sepala', 'comprimento_petala', 'largura_petala', 'especie']

# carga do dataset através do csv
iris = pd.read_csv(url_dados, names=atributos)

# verifica o tipo de iris
print(type(iris))

# exibe as 5 primeiras linhas
iris.head()

<class 'pandas.core.frame.DataFrame'>

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [40]:
# 2. Importando dados de um dataset do scikit-Learn para um dataframe
# https://scikit-learn.org/stable/datasets/toy_dataset.html

# imports necessários
import pandas as pd
from sklearn import datasets

# carga do dataset através do scikit-learn
iris = datasets.load_iris()

# verifica o tipo de iris
print(type(iris))

# conversão para dataframe
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

# adição da coluna target
iris_df['target'] = iris.target

# verifica o tipo de iris_df
print(type(iris_df))

# exibe as 5 primeiras linhas
iris_df.head()

<class 'sklearn.utils.Bunch'>
<class 'pandas.core.frame.DataFrame'>

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [41]:
# 3. Importando dados de um arquivo .csv local

# imports necessários
import pandas as pd

# carga do dataset através de um arquivo
filename = "iris.csv" # este arquivo deve estar dentro da aba "Arquivos" do Colab
iris = pd.read_csv(filename) # se o cabeçalho estiver sendo importado como dados, use o parâmetro skiprows = 1 na função read_csv

# verifica o tipo de iris
print(type(iris))

# exibe as 5 primeiras linhas
iris.head()

FileNotFoundError: [Errno 2] No such file or directory: 'iris.csv'

In [42]:
# 4. Importando dados de um arquivo .csv no Google Drive

# imports necessários
import pandas as pd
from google.colab import drive

# monta o drive
drive.mount("/content/drive") # neste momento irá aparecer um link do seu GoogleDrive para você clicar e copiar um código de acesso

# carga do dataset através de um arquivo
iris = pd.read_csv("drive/MyDrive/datasets/iris.csv") # este arquivo deve estar dentro da pasta "datasets" do seu GoogleDrive

# verifica o tipo de iris
print(type(iris))

# exibe as 5 primeiras linhas
iris.head()

ModuleNotFoundError: No module named 'google'

## Exercício com o dataset Diabetes

In [43]:
# 1) importe o dataset diabetes. Dicas:

# url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"

# cabeçalho das colunas
# colunas = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
colunas = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

df = pd.read_csv(url, names=colunas, skiprows=0, delimiter=',')

In [45]:
# 2) Exiba:

# a. As dimensões do dataset
df.shape

# b. As 10 primeiras linhas
df.head()

# c. As 10 últimas linhas
df.tail()

# d. o tipo de cada atributo
df.dtypes

# e. O resumo estatístico
df.describe()

(768, 9)

In [47]:
# 3) Ordene o dataset em ordem descrescente por idade
df.sort_values(by = "age", ascending = False)

     preg  plas  pres  skin  test  mass   pedi  age  class
459     9   134    74    33    60  25.9  0.460   81      0
453     2   119     0     0     0  19.6  0.832   72      0
666     4   145    82    18     0  32.5  0.235   70      1
123     5   132    80     0     0  26.8  0.186   69      0
684     5   136    82     0     0   0.0  0.640   69      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
240     1    91    64    24     0  29.2  0.192   21      0
136     0   100    70    26    50  30.8  0.597   21      0
382     1   109    60     8   182  25.4  0.947   21      0
392     1   131    64    14   415  23.7  0.389   21      0
271     2   108    62    32    56  25.2  0.128   21      0

[768 rows x 9 columns]

In [48]:
# 4) Exiba apenas as linhas com 'age' maior do que 50
df[df["age"]>50]

     preg  plas  pres  skin  test  mass   pedi  age  class
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
12     10   139    80     0     0  27.1  1.441   57      0
13      1   189    60    23   846  30.1  0.398   59      1
14      5   166    72    19   175  25.8  0.587   51      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
719     5    97    76    27     0  35.6  0.378   52      1
734     2   105    75     0     0  23.3  0.560   53      0
757     0   123    72     0     0  36.3  0.258   52      1
759     6   190    92     0     0  35.5  0.278   66      1
763    10   101    76    48   180  32.9  0.171   63      0

[81 rows x 9 columns]

## Gabarito

In [ ]:
# Gabarito

# 1) importe o dataset diabetes

# Carrega arquivo csv usando Pandas usando uma URL

# Informa a URL de importação do dataset
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"

# Informa o cabeçalho das colunas
colunas = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

# Lê o arquivo utilizando as colunas informadas
dataset = pd.read_csv(url, names=colunas, skiprows=0, delimiter=',')

In [ ]:
# 2) Exiba:
# a. As dimensões do dataset
# b. As 10 primeiras linhas
# c. As 10 últimas linhas
# d. o tipo de cada atributo
# e. O resumo estatístico

# Mostra as dimensões do dataset
print(dataset.shape)

# Mostra as 10 primeiras linhas do dataset
print(dataset.head(10))

# Mostra as 10 últimas linhas do dataset
print(dataset.tail(10))

# Verifica o tipo de cada atributo do dataset
print(dataset.dtypes)

# Faz um resumo estatístico do dataset (média, desvio padrão, mínimo, máximo e os quartis)
dataset.describe()

(768, 9)
   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1
7    10   115     0     0     0  35.3  0.134   29      0
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1
     preg  plas  pres  skin  test  mass   pedi  age  class
758     1   106    76     0     0  37.5  0.197   26      0
759     6   190    92     0     0  35.5  0.278   66      1
760     2    88    58    26    16  28.4  0.766   22      0
761     9   170    74    31     0  44.0  0.403   43      1
762     9    89    62     0     0  22.5  0.142   33      0
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0
preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

             preg        plas        pres  ...        pedi         age       class
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469  ...    0.471876   33.240885    0.348958
std      3.369578   31.972618   19.355807  ...    0.331329   11.760232    0.476951
min      0.000000    0.000000    0.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   62.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
# 3) Ordene o dataset em ordem descrescente por idade

# ordenando por uma coluna de ordem descendente
dataset.sort_values(by='age', ascending=False)

     preg  plas  pres  skin  test  mass   pedi  age  class
459     9   134    74    33    60  25.9  0.460   81      0
453     2   119     0     0     0  19.6  0.832   72      0
666     4   145    82    18     0  32.5  0.235   70      1
123     5   132    80     0     0  26.8  0.186   69      0
684     5   136    82     0     0   0.0  0.640   69      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
240     1    91    64    24     0  29.2  0.192   21      0
136     0   100    70    26    50  30.8  0.597   21      0
382     1   109    60     8   182  25.4  0.947   21      0
392     1   131    64    14   415  23.7  0.389   21      0
271     2   108    62    32    56  25.2  0.128   21      0

[768 rows x 9 columns]

In [ ]:
# 4) Exiba apenas as linhas com 'age' maior do que 50

# selecionando linhas segundo um critério
dataset[dataset['age'] > 50]

     preg  plas  pres  skin  test  mass   pedi  age  class
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
12     10   139    80     0     0  27.1  1.441   57      0
13      1   189    60    23   846  30.1  0.398   59      1
14      5   166    72    19   175  25.8  0.587   51      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
719     5    97    76    27     0  35.6  0.378   52      1
734     2   105    75     0     0  23.3  0.560   53      0
757     0   123    72     0     0  36.3  0.258   52      1
759     6   190    92     0     0  35.5  0.278   66      1
763    10   101    76    48   180  32.9  0.171   63      0

[81 rows x 9 columns]

## Links interessantes

* https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html
* https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook
* https://github.com/donnemartin/data-science-ipython-notebooks#pandas
* http://datacamp-community-prod.s3.amazonaws.com/dbed353d-2757-4617-8206-8767ab379ab3
* https://medium.com/data-hackers/uma-introdu%C3%A7%C3%A3o-simples-ao-pandas-1e15eea37fa1 - Seus primeiros passos como Data Scientist: Introdução ao Pandas!
* https://github.com/donnemartin/data-science-ipython-notebooks#pandas - Coletânea de notebooks Jupyter que abordam profundamente várias ferramentas e casos de uso do Pandas
* https://github.com/guipsamora/pandas_exercises - Exercícios de Pandas com soluções, separados por temas
* https://colab.research.google.com/github/google/eng-edu/blob/master/ml/cc/exercises/pandas_dataframe_ultraquick_tutorial.ipynb?utm_source=mlcc&utm_campaign=colab-external&utm_medium=referral&utm_content=pandas_tf2-colab&hl=en - Pandas DataFrame UltraQuick Tutorial